@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400&family=Oswald:wght@300;400;500;600&display=swap');

:root { 
  --color-black: #000; 
  --color-white: #fff; 
  --color-grey: #6e6e6e; 
}

/* Global Styling */ 
* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

main { 
   font-family: 'IBM Plex Serif', serif;
   background-color: var(--color-black); 
}

section { 
  color: white; 
  max-width: 1400px;
  min-width: 300px;
  margin: 0 auto;  
  font-size: 2rem;
  padding: 0 .725rem; 
}

section h2 { 
  font-size: 3rem; 
}

/* Hero */ 
#hero { 
  display: flex; 
  justify-content: center;
  height: 100vh; 
  align-items: center; 
}

#hero .container { 
  display: block; 
  width: auto; 
  max-width: none; 
  clear: none; 
  flex: 0 auto; 
}

#hero .hero-wrapper { 
  display: flex; 
  max-width: 1140px; 
  margin-top: 100px; 
  margin-bottom: 140px; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

 #hero .hero-grid {
  width: 100%; 
  color: var(--color-white); 
  
  justify-items: center;
  align-items: center;

  display: grid;
  grid-template-columns: repeat(2, 2.75fr);   
  grid-template-rows: auto auto; 
  grid-auto-columns: 1fr;
}

#hero-image { 
  display: block; 
  height: auto; 
  max-width: 100%; 
  min-width: 55%;
  margin: 0 auto; 
}

#hero #image-div figcaption {
  padding: 1rem; 
  text-align: center;
  font-size: 1.275rem; 
}

#hero #text-div { 
  margin-top: 3rem; 
  font-family: "Oswald", sans-serif;
  text-align: center; 
}

#text-div .small-grey-text { 
  font-size: 1.875rem; 
  color: var(--color-grey); 
}

#text-div h1 { 
 font-size: 6.25rem; 
}

#text-div p { 
  padding-top: 2rem;
  font-size: 2.5rem; 
  font-style: italic; 
}

/* Responsive Design for Hero */ 
@media (max-width: 1163px) {
  #hero .hero-grid { 
    grid-template-columns: 2.75fr;
  }; 
}   
  @media (min-width: 750px) { 
    #text-div .small-grey-text { 
      font-size: 4vw; 
  }
}

  @media (min-width: 1000px) { 
  #text-div p {
    font-size: 4w; 
  }
} 

  @media (min-width: 2500px) { 
    #text-div h1 { 
      font-size: 4vw; 
     }
  }


@media (min-width: 1700px) { 
  #text-div .small-grey-text { 
    font-size: 2.75rem; 
  }

  #text-div h1 { 
    font-size: 8rem; 
   }

  #text-div p { 
    font-size: 2.5rem;
  }

}


/* Tribute Info */ 
.tribute-text p {
  padding-top: 1.25rem;   
}

a:visited { 
  color: #dd372f; 
}


/* Tribute Info */ 
.albums-content { 
 padding-top: 20px;  
}

.grid-container { 
  padding: 60px 0px; 
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  text-align: center; 
  
}

.album-text {
  padding-top: 10px; 
}

.album-group { 
  position: relative; 
}

.album-group a::before{ 
  content:""; 
  position: absolute; 
  top: 0px; 
  right: 0px; 
  bottom: 0px; 
  left: 0px; 
}


iframe { 
  display: block;
  width: 100%; 
  max-width: 1400px;; 
  min-width: 300px;
  margin: 0 auto; 
}

.nujabes-graphic { 
background-image: url(https://external-preview.redd.it/wyylfhqTQdrWNsT9s8NeCncz0PIaSz6NFzCczSLPjJA.jpg?auto=webp&s=0848aaff0bea6bf6844826dcdcec4d51cc42adc2); 
 background-position: center; 
 background-size: contain; 
 background-repeat: no-repeat; 

}
.background-image { 
  height: 60vh; 
  width: 100%; 
  margin: 0 auto; 
}


