@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400&family=Oswald:wght@300;400;500;600&display=swap');

:root { 
  --color-black: #000; 
  --color-white: #fff; 
  --color-grey: #6e6e6e; 
  --color-red: #dd372f; 
  --brand-yellow: #FFD90D; 
}

/* Global Styling */ 
* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

main { 
   font-family: 'IBM Plex Serif', serif;
   background-color: var(--color-black); 
}

section { 
  color: white; 
  max-width: 1400px;
  min-width: 300px;
  margin: 0 auto;  
  font-size: clamp(.75rem, 3vw, 1rem); 
  padding: 0 4rem; 
}

section h2 { 
  font-size: clamp(1.5rem, 3vw, 2rem)  
}

.section-separator{ 
  border-color: var(--color-red); 
}

.section-text p {
  padding-top: .75rem; 
  text-align: justify; 
}

/* Hero */ 
#hero { 
  display: flex; 
  justify-content: center;
  height: 100vh; 
  align-items: center; 
  flex-wrap: wrap; 
}

#hero .container { 
  display: block; 
  width: auto; 
  max-width: none; 
  clear: none; 
  flex: 0 auto; 
}

#hero .hero-wrapper { 
  display: flex; 
  max-width: 1140px; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

 #hero .hero-grid {
  width: 100%; 
  color: var(--color-white); 
  
  justify-items: center;
  align-items: center;

  display: grid;
  grid-template-columns: 2fr 1fr;   
  grid-template-rows: auto auto; 
  grid-auto-columns: 1fr;
}

#hero-image { 
  display: block; 
  height: auto; 
  max-width: 70%; 
  min-width: 60%;
  margin: 0 auto; 
  padding: 1rem 0; 
}

#hero #image-div figcaption {
  padding-bottom: 1rem; 
  text-align: center;
  font-size: clamp(6px, 4vw, 10px); 
}

#hero #text-div { 
  font-family: "Oswald", sans-serif;
  text-align: center; 
}

#text-div .small-grey-text { 
  font-size: clamp(5px, 4vw, 16px); 
  color: var(--color-grey); 
}

#text-div h1 { 
 font-size: clamp(32px, 4vw, 60px); 
}

#text-div p { 
 font-size: clamp(6px, 4vw, 14px); 
 font-style: italic; 
}

/* Tribute Info */ 
a:visited { 
  color: var(--color-red); 
}

/* Albums */ 
.albums-content { 
 padding-top: 20px;  
}

.album-grid { 
  width: 100%; 
  padding-top: 1rem; 

  justify-items: center;
  align-items: center;
  text-align: center;


  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
  column-gap: 2rem;
}

.album-text {
  padding-top: 1.25rem; 
}

.album-visual img { 
  max-width: 60%; 
  min-width: 45%; 
  height: auto; 
}

.album-group { 
  position: relative; 
}

.album-group a::before{ 
  content:""; 
  position: absolute; 
  top: 0px; 
  right: 0px; 
  bottom: 0px; 
  left: 0px; 
}

iframe { 
  display: block;
  width: 100%; 
  max-width: 1400px;; 
  min-width: 300px;
  margin: 0 auto; 
  margin-top: 1.5rem; 
}

.background-image { 
  height: 60vh; 
  width: 100%; 
  margin: 0 auto; 
}

/* Media Queries */
@media (max-width: 724px) {

  #hero .hero-grid { 
    grid-template-columns: 1fr;
  }; 
}

@media (max-width: 1158px) { 
  #albums .album-grid { 
    grid-template-columns: 1fr;
    row-gap: 1rem;

  }
}

@media (min-width: 320px) { 
  .album-group { 
    padding: 1.25rem; 
  }
}


footer {
  margin-top: 2rem; 
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.footer-separator { 
  border-color: var(--brand-yellow); 
  width: 40vw;  
  margin: 0 auto; 
  margin-bottom: 20px; 
}

.footer-list { 
  display: inline-flex;
  justify-content: center;
}

.footer-list .list-item{ 
  padding: 0px;  
  margin: 0.625rem 0.3125rem; 
  list-style-type: none;
}

.social-icon { 
  color: var(--brand-yellow);
  height: 3.75rem; 
}

.footer-text { 
  text-align: center; 
  color: #fff; 
  margin: 1.625rem 0; 
  font-size: .75rem; 
  position: relative;
  bottom: 0.95rem;
} 